# Directories to be ignored
__pycache__/
dataset_*/
results/
pytorch/
runs/
bagfiles/raw_bagfiles/
dist/

# Files used to train myself on classification with the ImageNet dataset
coffee.jpg
imagenet_class_labels.txt

Notes.md
*.png
*.tiff

# Saved model parameters
*.params

/dwa.py
# /trajectory_traversal_cost.py
/optuna_test.py
/normals.py
/resnet_jetson.py

# /*.npy

/src/models_development/images_test.py

_*
